<a href="https://colab.research.google.com/github/DivyaTheresa/Python/blob/main/LISTTUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




LIST:

In [ ]:
# 1.Take a list of integers and find average of elements.
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input(""))
  l1.append(x)
print(l1)
sum=0
for i in range(n):
  sum=sum+l1[i]
  avg=sum/n
print(avg)

4
56
78
23
21
[56, 78, 23, 21]
44.5

Boolean:
True (or) False.

In [ ]:

#2.take list of boolean values and count number of true value.
l1=[]
n=int(input(""))
for i in range(n):
  x=input("")
  l1.append(x)
print(l1)
count=0
for i in range(n):
  if i==True:
    count=count+1
print(count)

3
9
True
89
['9', 'True', '89']
1

In [ ]:
#3.Sum of positive elements.
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input())
  l1.append(x)
print(l1)
sum=0
for i in range(n):
  if l1[i]>0:
   sum=l1[i]+sum
print(sum)

3
-1
0
7
[-1, 0, 7]
7

In [ ]:
#4.create a new list y with alternate elements of given list x
x=[]
y=[]
n=int(input(""))
for i in range(n):
   m=int(input(""))
   x.append(m)
print(x)
for i in range(0,n,2):
  y.append(x[i])
print(y)

4
2
3
4
5
[2, 3, 4, 5]
[2, 4]

In [ ]:
#5.given P, T and for range of intrest rates create a list of SI
l1=[]
P=int(input(""))
T=int(input(""))
rate=[]
n=int(input())
for i in range(n):
  rate.append(int(input("")))
print(rate)
for i in range(n):
  SI=P*T*rate[i]/100
  l1.append(SI)
print(l1)

4
6
2
1
2
[1, 2]
[0.24, 0.48]

In [ ]:
#6.create a list of even numbers in a given range
l1=[]
l2=[]
n=int(input(""))
for i in range(n):
  x=int(input())
  l1.append(x)
for j in l1:
   if j%2==0:
       l2.append(j)
print(l2)

4
2
3
4
5
[2, 4]

In [ ]:
#7.create list of areas of circle for a range of radius values
import math
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input(""))
  l1.append(x)
print(l1)
l2=[]
for i in range(n):
  area=2*math.pi*l1[i]
  l2.append(area)
print(l2)

4
2
3
4
1
[2, 3, 4, 1]
[12.566370614359172, 18.84955592153876, 25.132741228718345, 6.283185307179586]

In [ ]:
#8.write function that return area & circumfrence. write another function that returnsa list

In [ ]:
#9.create a list of prime numbers between n1 & n2
l1=[]
n1=int(input(""))
n2=int(input(""))
for n in range(n1,n2):
  if n>1:
    for i in range(2,int(n/2)+1):
      if n%i==0:
        break
    else:
        l1.append(n)
print(l1)

3
9
[3, 5, 7]

In [ ]:
#10.create list of even numbers between n1 & n2 in reverse order
l1=[]
n1=int(input(""))
n2=int(input(""))
for i in range(n2,n1-1,-1):
  if i%2==0:
    l1.append(i)
print(l1)

30
40
[40, 38, 36, 34, 32, 30]

In [ ]:
#11.given list of numbers, create list of reverse numbers
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input(""))
  l1.append(x)
print(l1)
k=l1[::-1]
print(k)

3
23
43
56
[23, 43, 56]
[56, 43, 23]

In [ ]:
#12.given list of names, create a lst of palindromes
l1=[]
n=int(input(""))
for i in range(n):
  x=input("")
  l1.append(x)
print(l1)
k=l1[::-1]
print(k)

2
divya
theresa
['divya', 'theresa']
['theresa', 'divya']

In [ ]:
#13.create list of perfect numbers in the range of n1 to n2
l1=[]
n1=int(input(""))
n2=int(input(""))
for i in range(n1,n2+1):
  if n2%i==0:

In [ ]:
#14.create a list of Fibnocci numbers upto N
l1=[]
n=int(input(""))
n1,n2=0,1
for i in range(n):
  l1.append(n1)
  n3=n1+n2
  n1=n2
  n2=n3
print(l1)

7
[0, 1, 1, 2, 3, 5, 8]

In [ ]:
#15.create a list of numbers by adding two subsequent numbers

In [ ]:
#16.take N values from user and create list of all values greater than 5
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input())
  l1.append(x)
for j in l1:
   if j>5:
    print(j,end=" ")

4
5
7
4
9
7 9

In [ ]:
#17..create a list of numbers taken from user and display those elements that are
#greater than list average
l1=[]
l2=[]
n=int(input())
for i in range(n):
  x=int(input())
  l1.append(x)
sum=0
for i in range(n):
 sum=sum+l1[i]
avg=sum/n
for j in l1:
   if j>avg:
       l2.append(j)
print(l2)

4
24
45
98
65
[98, 65]

In [ ]:
#18..create list of string values and display those elements whose length is more than 5.
l1=[]
n=int(input(""))
for i in range(n):
  x=input()
  l1.append(x)
print(l1)
for i in l1:
   if len(i)>5:
     print(i)

3
divyaa
cat
monkey
['divyaa', 'cat', 'monkey']
divyaa
monkey

In [ ]:
#19.create list of boolean and count number of True values
l1=[]
n=int(input(""))
for i in range(n):
  x=input("")
  l1.append(x)
print(l1)
count=0
for i in range(n):
  if l1[i]=='True':
    count=count+1
print(count)

3
True
true
false
['True', 'true', 'false']
1

In [ ]:
#20.create list of integers and then create list complex numbers from the list
l1=[]
l2=[]
n=int(input(""))
for i in range(n):
  x=input("")
  l1.append(x)
print(l1)
for i in l1:
  if type(i)==complex:
    l2.append(i)
print(l2)

In [ ]:
#21.list the roots of quadratic equation for sets of values

In [ ]:
#22.list of Fibnocci numbers upto Nth value
l1=[]
n=int(input(""))
n1,n2=0,1
for i in range(n):
  l1.append(n1)
  n3=n1+n2
  n1=n2
  n2=n3
print(l1)

6
[0, 1, 1, 2, 3, 5]

In [ ]:
#23.create list of values that are greater than average in the given list. create input listusing comprehension

In [ ]:
#24.generate list of reverse numbers of a given list
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input(""))
  l1.append(x)
print(l1)
k=l1[::-1]
print(k)

3
23
43
54
[23, 43, 54]
[54, 43, 23]

TUPLES:

In [ ]:
#1.take a tuple and count number of positive elements
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input(""))
  l1.append(x)
print(l1)
T=tuple(l1)
print(T)
count=0
l2=[]
for i in range(n):
  if l1[i]>=0:
    count=count+1
    l2.append(l1[i])
print(tuple(l2))

3
-1
0
5
[-1, 0, 5]
(-1, 0, 5)
(0, 5)

In [ ]:
#2. take a mixed tuple and count number of complex , int, float, string elements
l1=[]
n=1
for i in range(n):
  x=complex(input(""))
  y=int(input(""))
  z=float(input(""))
  a=input("")
  l1.extend([x,y,z,a])
T=tuple(l1)
print(T)
v=0
d=0
c=0
f=0
for i in T:
  if type(i)==complex:
    v=v+1
  elif type(i)==int:
    d=d+1
  elif type(i)==float:
    c=c+1
  elif type(i)==str:
    f=f+1
print(v,"\t",d,"\t",c,"\t",f,"\t")

3+7j
7
4.5
hello
((3+7j), 7, 4.5, 'hello')
1 	 1 	 1 	 1

In [ ]:
#3. take a tuple and count number of numeric elements
l1=[]
n=1
for i in range(n):
  x=complex(input(""))
  y=int(input(""))
  z=float(input(""))
  a=input("")
  l1.extend([x,y,z,a])
T=tuple(l1)
print(T)
v=0
for i in T:
  if type(i)==complex or type(i)==int or type(i)==float:
    v=v+1
    f=f+1
print(v)

In [ ]:
#4.create a tuple of primes upto 20
l1=[]
n1=20
for n in range(n1):
  if n>1:
    for i in range(2,int(n/2)+1):
      if n%i==0:
        break
    else:
        l1.append(n)
T=tuple(l1)
print(T)

(2, 3, 5, 7, 11, 13, 17, 19)

In [ ]:
#5.take tuple and display those string elements that are more than 5 characters long
l1=[]
n=int(input(""))
for i in range(n):
  x=input()
  l1.append(x)
print(tuple(l1))
for i in l1:
   if len(i)>5:
     print(i)

3
divyaa
monkey
cat
('divyaa', 'monkey', 'cat')
divyaa
monkey

In [ ]:
#6.find the average and SD of tuple elements
import math
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input())
  l1.append(x)
T=tuple(l1)
print(T)
sum=0
for i in range(n):
  sum=sum+T[i]
print(sum)
avg=sum/n
print(avg)
sum1=0
for i in range(n):
   sum1=sum1+(T[i]-avg)**2
print(sum1)
SD=math.sqrt((1/n)*sum1)
print(SD)

4
65
67
45
09
(65, 67, 45, 9)
186
46.5
2171.0
23.296995514443488

In [ ]:
#7. take a tuple and create one more tuple with elements of multiples of 3 of the firsttuple
l1=[]
l2=[]
n=int(input(""))
for i in range(n):
  x=int(input(""))
  l1.append(x)
print(tuple(l1))
for i in range(n):
  if(l1[i]%3==0):
    l2.append(l1[i])
print(tuple(l2))

4
2
3
4
6
(2, 3, 4, 6)
(3, 6)

In [ ]:
#8. create 3 tuples with elements ranges of 1 to 20, 5 to 70 & 100 to 120. Create newtuple having all the elements of the 3 tuples created
l1=[]
l2=[]
l3=[]
l=[]
last=[]
for i in range(1,21):
  l1.append(i)
print(tuple(l1))
for i in range(5,71):
  l2.append(i)
print(tuple(l2))
for i in range(100,121):
  l3.append(i)
print(tuple(l3))
for i in range(len(l1)):
  l.append(l1[i])
for i in range(len(l2)):
  l.append(l2[i])
for i in range(len(l3)):
  l.append(l3[i])
for i in range(len(l)):
  if (l[i] not in last):
    last.append(l[i])
print(tuple(last))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
(5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70)
(100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120)

In [ ]:
#9. take a list & string from user. Create a new tuple having alternate elements afterpairing corresponding elements of list & string tuples
l1=[]
l2=[]
m=input("")
n=int(input(""))
for i in range(n):
  l1.append(input(""))
print(l1)
for i in range(0,n,2):
  l2.append(l1[i]+m)
print(l2)

hello
3
divyaa
monkey
donkey
['divyaa', 'monkey', 'donkey']
['divyaahello', 'donkeyhello']

In [ ]:
#10.take names from user and associate each name with integer starting with 5
import math
l1=[]
n=int(input(""))
for i in range(n):
  x=input("")
  l1.append(x)
  T=tuple(l1)
  T+=(T,i)
print(T)

In [ ]:
#11.take boolean tuple and count number of True values
l1=[]
n=int(input(""))
for i in range(n):
  x=input("")
  l1.append(x)
print(tuple(l1))
count=0
for i in range(n):
  if l1[i]=='True':
    count=count+1
print(count)

3
True
false
TRUE
('True', 'false', 'TRUE')
1

In [ ]:
#12.take float tuple and count the elements greater tha 10
l1=[]
n=int(input(""))
for i in range(n):
  x=float(input())
  l1.append(x)
print(tuple(l1))
for j in l1:
   if j>10:
    print(j,end=" ")

5
10.5
6.4
3
11
12.9
(10.5, 6.4, 3.0, 11.0, 12.9)
10.5 11.0 12.9

In [ ]:
#13.take complex tuple and count number of elements with negative imaginary part
l1=[]
n=int(input(""))
for i in range(n):
  x=complex(input())
  l1.append(x)
T=tuple(l1)
print(T)
count=0
for i in T:
  a=i.imag
  if a<0:
    count+=1
print(T)
print(count)

4
12+34j
13-78j
123+6j
34-89j
((12+34j), (13-78j), (123+6j), (34-89j))
((12+34j), (13-78j), (123+6j), (34-89j))
2

In [ ]:
#14.take complex tuple and sum up only real parts
l1=[]
n=int(input(""))
for i in range(n):
  x=complex(input())
  l1.append(x)
T=tuple(l1)
print(T)
sum=0
for i in T:
  a=i.real
  sum+=a
print(T)
print(sum)

5
54+23j
679+213j
123432+32j
6712+37j
346+234j
((54+23j), (679+213j), (123432+32j), (6712+37j), (346+234j))
((54+23j), (679+213j), (123432+32j), (6712+37j), (346+234j))
131223.0

In [ ]:
#15.take a tuple and create a new tuple by adding some more elements
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input())
  l1.append(x)
print(tuple(l1))
m=int(input())
for i in range(m):
  y=int(input(""))
  l1.append(y)
print(tuple(l1))

4
4
5
6
7
(4, 5, 6, 7)
3
8
9
0
(4, 5, 6, 7, 8, 9, 0)

In [ ]:
#16.take a tuple and display max of string elements
l1=[]
n=int(input(""))
for i in range(n):
  x=input()
  l1.append(x)
T=tuple(l1)
print(len(T))
print(max(T))

('divya', 'theresa')
theresa

Exercise:

In [ ]:
#Creat a tuple object by taking input the user.
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input())
  l1.append(x)
T=tuple(l1)
print(T)

5
768
456
789
34
56
(768, 456, 789, 34, 56)

In [ ]:
#2. Accept the name of the weekday from the user and display the number of the day of theweek. Exit when an invalid day name is given as input. Assume 0 for Sunday.

In [ ]:
#3. Given two tuple objects, create a new tuple by adding the corresponding values of the inputtuples.
l1=[]
l2=[]
n=int(input(""))
for i in range(n):
  x=int(input())
  l1.append(x)
T=tuple(l1)
print(T)
for i in range(n):
  y=int(input())
  l2.append(y)
T1=tuple(l2)
print(T1)
l3=[]
for i in range(n):
  l3.append(l1[i]+l2[i])
print(l3)

4
54
78
43
89
(54, 78, 43, 89)
45
98
67
56
98
(98, 67, 56, 98)
[152, 145, 99, 187]

In [ ]:
#4.Generate a new tuple by removing by duplicate elements of the input tuple.
l1=[]
n=int(input(""))
for i in range(n):
  x=int(input())
  l1.append(x)
T=tuple(l1)
print(T)
l2=[]
for i in l1:
  if l1.count(i)==1:
    l2.append(i)
print(tuple(l1))
print(tuple(l2))

4
1
2
2
3
(1, 2, 2, 3)
(1, 2, 2, 3)
(1, 3)

In [ ]:
#5.take input cpg of students separated by space. Write a user defined function to count thenumber of students who got more than 7 cgp.
n=float(input(""))
l1=tuple(n.split())
l2=()
print(l1)
for i in l1:
  if i>=7:
    l2=l2+(i)
print(l2)

In [ ]:
l=[]
n=int(input(""))