<a href="https://colab.research.google.com/github/DivyaTheresa/Python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loops

In [ ]:
ch = input('Enter a character')
if (ch >= 'A' and ch <= 'Z') or (ch >='a' and ch<='z'):
  print('It is an alphabet')
  if (ch >= 'A' and ch <= 'Z'):
    print('It is an uppercase')
  elif (ch >='a' and ch<='z'):
    print('It is an lower case')
elif ch>='0'and ch<='9':
  print('It is a digit')
else:
  print('It is special symbol')

Enter a charactera
It is an alphabet
It is an lower case

In [ ]:
n = int(input('Enther the number'))
'''for i in range(1,n+1):
  if i %2 !=0:
    print(i,end=' ')
else:
  print('\nEnd of the for loop')
  '''
i = 0
while i<=n:
    print(i,end=' ')
    i = i + 1
else:
  print('End of the while loop')

Enther the number20
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 End of the while loop

In a program, statements are executed in a sequential manner. i.e. the execution of a program always starts from the first line, followed by the second, and so on.

Sometimes,we need a block of code to execute for certain number of times.

## General Use of Loops:
For a real world problems, we need to repeat an action based on requriements.

Loops can be used to solve complex problems.
In real world, we require to repeat an action until a condition is met(while) or a problem that requires you to perform an action on a bunch of items (for).

#	Loop type	Description:for loop

It executes a piece of code repeatedly for a number of times, based on the number of items in that iterable object.

It is also an iterator based loop, which steps through the items of iterable objects like lists, tuples, and string.


```
The for loop is zero-indexed and has the following syntax.

for in range(start,end,step):



start: initial point
end: end point
step: 1 (default)
```

In [ ]:
for i in range(0,11):
     print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,11):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
#sum of the even numbers
sum = 0
for i in range(0,11):
  if i % 2 == 0:
    sum +=i
    print(i, end=' ')
print('Sum of the even numbers upto {} is {}'.format(10,sum))

0 2 4 6 8 10 Sum of the even numbers upto 10 is 30

In [ ]:
#prime number
# a prime number is a number which divides with one and itself
num1,num2 = int(input('Enter the starting number')),int(input('Enter the starting number'))
count = 0
for j in range (num1, num2+1):
  count = 0
  for i in range(1, j+1):
    if j % i == 0:
      count+=1
  #if ends
#for loop ends
  if count == 2:
    print(j)
# outer for loop ends

Enter the starting number10
Enter the starting number20
11
13
17
19

In [ ]:
num = int(input('Enter the number'))
sum = 0
count = 0
while num != -1:
  sum = num + sum
  count = count + 1
  num = int(input('Enter the number'))

print('Sum is {}'.format(sum))
print('Average is {}'.format(sum/count))

Enter the number2
Enter the number4
Enter the number5
Enter the number6
Enter the number-1
Sum is 17
Average is 4.25

In [ ]:
ch = input('Enter the character')
print(ord(ch))
print(chr(65))

Enter the characterA
65
A

In [ ]:
#sum of the odd numbers
sum = 0
for i in range(1,11):
  if i % 2 != 0:
    sum +=i
    print(i, end=' ')
print('Sum of the odd numbers upto {} is {}'.format(10,sum))

1 3 5 7 9 Sum of the even numbers upto 10 is 25

In [ ]:
#fabinocai series
f1 = 0
f2 = 1
f3 = 0

for i in range(1,100):
  f3 = f1 + f2
  print(f1,end=' ')
  f1 = f2
  f2 = f3

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049

In [ ]:
# x = 1/1! + 1/2! + 1/3! + 1/4! + ..... n
import math

n = int(input('Enter number of terms'))
x = 0

for i in range(1,n+1):
  x = x + (1/math.factorial(i))

print('The sum x = 1/1! + 1/2! + 1/3! + 1/4! + ..... n ='+str(x))

Enter number of terms2
The sum x = 1/1! + 1/2! + 1/3! + 1/4! + ..... n =1.5

In [ ]:
# sum = 1 - 1/x + 1/x^2 - 1/x^3 + ... + (-1)^n *1/x^n
sum = 0
x = 0.5
n = 5
for i in range(0,n+1):
  if i %2 == 0:
    sum += (1/x**i)
    #end of if block
  else:
    sum -= (1/x**i)
    #end of else block
#end for loop
print(sum)

-21.0

In [ ]:
# sum = 1 + x/1! + x^2/2! + x^3/3! + ... +  x^n/n!
sum = 0
x = 0.5
n = 5
for i in range(0,n+1):
 sum+= (x**i/math.factorial(i))
#end for loop
print('%0.2f'%sum)
print(round(sum,2))

1.65
1.65

In [ ]:
n = 10
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

1 2 3 4 5 6

1 2 3 4 5 6 7

1 2 3 4 5 6 7 8

1 2 3 4 5 6 7 8 9

1 2 3 4 5 6 7 8 9 10

Python has two types of Loops.

#	Loop type	Description : while
while loop	Executes a block of statements repeatedly as long as the CONDITION is TRUE.

While Loop:
The while loop executes a block of statements repeatedly as long as the condition is TRUE.
We notice that it is a bit similar to the if statement.

The while loop has the following syntax:


```

while condition:
    expression(block of code)
```

In [ ]:
i=0
while i<10:
  print(i, end=' ')
  i=i+1

0 1 2 3 4 5 6 7 8 9

In [ ]:
n = 10
i = 1

while i <n+1:
  k=1
  while k < i+1:
    print(k,end=' ')
    k+=1
  i+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

## The break Statement


### IT IS IMPORTANT TO NOTE THAT A ***break*** STATEMENT IS USED WITH LOOPS ONLY.
It is used to terminated the execution of the nearest enclosing loop in which it is present.

It can used with both ***for*** and ***while*** loops.

When ***break*** statement is encountered, control is passed to the immediate statment after end of the loop.

Generally break statement used for exiting a loop after the requried task is accomplished

In [ ]:
#using break statement with the for loop

for i in range(1,11):
  if i == 6:
    break
  #end of if block
  else:
    print(i,end=' ')
  #end of else block
#end of for loop

1 2 3 4 5

In [ ]:
#using break statement with the while loop
i = 1
while i <= 10:
  if i == 6:
    break
  #end of if block
  else:
    print(i,end=' ')
  #end of else block
  i = i + 1
#end of while loop

1 2 3 4 5

## The continue Statment

### IT IS IMPORTANT TO NOTE THAT A ***continue*** STATEMENT IS USED WITH LOOPS ONLY.

When a continue statement is encountered in the loop, the statements after that will skipped and control will be passed to begining of the loop.

It is advised to use with ***for*** loop, instead ***while***.

In [ ]:
# Using of continue statement with for loop
# Skip printing if the value is 6 or 8

for i in range(1,11):
  if i == 6 or i == 8:
    continue
  #end of the if block
  else:
    print(i,end=' ')
  #end of the else block
#end of the for loop

1 2 3 4 5 7 9 10

## The ***else*** Statement with loops

***else*** is used with the ***for*** and ***while*** loops.

***else block*** is executed after the loops are completed the iterations.

In [ ]:
# else used with for loop

for i in range(1, 11):
  if i % 2 == 0:
    print(i)
else:
  print('End of the for loop')

End of the for loop

In [ ]:
# else used with while loop
i = 1
while i <= 10:
  if i % 2 != 0:
    print(i,end=' ')
  i += 1
else:
  print('\nEnd of the for loop')

1 3 5 7 9
End of the for loop

# Classroom Working Problems

In [ ]:
'''
1. Write a program to print first 10 natural numbers separated with a tab on same line.
'''
#write your code here

In [ ]:
'''
2. Write a program to calucalte sum and average of first 10 natural numbers.
'''
#write your code here

In [ ]:
'''
3. Write a program to print 20 horizontal asterisks(*).
'''
#write your code here

In [ ]:
'''
4. Write a program to caluclate the sum and average of numbers between given m to n
hint: sum and average between m = 10 n = 25
'''

In [ ]:
'''
5. Write a program to read the numbers until -1 is encountered.
Count the number of negative, positive and zeros enetered by the user.
'''
#write your code here

In [ ]:
'''
6. Write a program to read the numbers until -1 is encountered.
Caluclate the average of negative numbers and positive numbers entered by the user.
'''
#write your code here

In [ ]:
'''
7. Write a program to check whether the given number is an Amstrong number or not.
'''
#write your code here

In [ ]:
'''
8. Write a program to read a decimal number, convert into binary equivalent.
'''
#write your code here

In [ ]:
'''
9. Write a program to read a binary number, convert into decimal equivalent.
'''
#write your code here

In [ ]:
'''
10. Write a program to read a binary number, convert into decimal equivalent.
'''
#write your code here

In [ ]:
'''
11. Write a program to read a character until $ is encountered.
Count the number of uppercase, lowercase, and numbers entered by the users.
'''
#write your code here

In [ ]:
'''
12. Write a program to read a number from the user and
caluclate the sum of the digits of the given number.
'''
#write your code here

In [ ]:
'''
13. Write a program to read two numbers and caluclate GCD of the two given number.
'''
#write your code here

In [ ]:
'''
14. Write a program to read a number and print the reverse the given number.
'''
#write your code here

In [ ]:
'''
15. Write a program to print the multiplication table of a given number.
'''
#write your code here

In [ ]:
'''
16. Write a program to caluclate the factorial of a given number.
Note: Avoid using math.factorial() function
'''
#write your code here

In [ ]:
'''
17. Write a program to caluclate the factorial of a given number.
Note: Avoid using math.factorial() function
'''
#write your code here

In [ ]:
'''
18. Write a program to read a number and check whether the given number
is prime or composite
'''
#write your code here

In [ ]:
'''
19. Write a program to count prime and composite numbers between m & n.
Note: read the values of m & n from the user.
'''
#write your code here

In [ ]:
'''
20. Write a program to print leap years beteen given years m & n.
Note: read the values of m & n from the user.
'''
#write your code here

In [ ]:
'''
21. Write a program to caluclate the sum of following series:
s = 1 + 1/2 + 1/3 + ... + 1/n
s = 1 + 1/2^2 + 1/3^2 + ... + 1/n^2
s = 1/2 + 2/3 + 3/4 + ... + n/(n+1)
Note: read the value of n from the user
'''
#write your code here

In [ ]:
'''
22. Write a program to caluclate the cubes of numbers between 1 to n.
Note: read the value n from the user.
'''
#write your code here

In [ ]:
'''
23. Write a program to caluclate the square of odd and even numbers between 1 to n.
Note: read the value n from the user.
'''
#write your code here

In [ ]:
'''
24. Write a program to generate the calendar of the month given the start day and number
of the days in the month.
Sample output:
Sun  Mon  Tues  Wed  Thurs  Fri  Sat
-------------------------------------
                 1    2     3     4
 5    6     7    8    9     10    11
 12  13    14   15   16     17    18
 19  20    21   22   23     24    25
 26  27    28   29   30
'''
#write your code here