<a href="https://colab.research.google.com/github/DivyaTheresa/Python/blob/main/SQLit3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQl=structure qurry language
it is a database
my sql=microsoft
ibm sql etc..
SQlite:which is light
backend=database
frontend=software
gui (grarphical user interface)
CRUD
Create,Read,Update,and Delete
Matplotlib: ploting the graph
what is SQlite?
It is a embedded relational management system.
DBMA
|
^
RDBMS-----> r*c
^
|
SQLite-3 ----> Pythn
SQl can be axcess directly
SQl(severless)

In [ ]:
import sqlite3 as sq
conctobj=sq.connect("coursedata.db")

#python code to create a relation
#using SQlite3

In [ ]:
import sqlite3
cnt=sqlite3.connect("backup.dp")
cnt.execute('''Create table gfg1(Name text,points integer,accuracy real);''')

In [ ]:
cnt.execute('''INSERT INTO gfg1 VALUES('Count Inversion',20,80.5);''')
cnt.execute('''INSERT INTO gfg1(ACCURACY,POINTS,NAME)VALUES(90.5,15,' KANADAS ALSO');''')
cnt.execute('''INSERT INTO gfg1(ACCURACY,POINTS,NAME)VALUES('REVERSE str',100,5);''')
cnt.commit()

In [ ]:
print('Name, Points and Accuracy from'
      'records with accuracy greater than 85')
cursor=cnt.execute('''SELECT*FROM gfg;''')
for i in cursor:
  print(i[0]+"  "+str(i[1])+"  "+str(i[2]))
print("")

Name, Points and Accuracy fromrecords with accuracy greater than 85
Count Inversion  20  80.5
Count Inversion  20  80.5
 KANADAS ALSO  15  90.5
5  100  REVERSE str

In [ ]:
print('''UPDATE gfg SET POINTS=PONINTS+5 WHERE POINT<20;''')
cursor=cnt.execute('''SELECT*FROM gfg;''')
print('After Updation')
for i in cursor:
  print(i[0]+"  "+str(i[1])+"  "+str(i[2]))
print("")
cnt.execute(''' DELETE FROM gfg WHERE ACCURACY>91;''')
cursor=cnt.execute('''SELECT*FROM gfg;''')
print('After Deletion')
for i in cursor:
     print(i[0]+"  "+str(i[1])+"  "+str(i[2]))

UPDATE gfg SET POINTS=PONINTS+5 WHERE POINT<20;
After Updation
Count Inversion  20  80.5
Count Inversion  20  80.5
 KANADAS ALSO  15  90.5
5  100  REVERSE str

After Deletion
Count Inversion  20  80.5
Count Inversion  20  80.5
 KANADAS ALSO  15  90.5

In [ ]:
import sqlite3
cnt=sqlite3.connect("XYZ.dp")
cnt.execute('''Create table Studenttable1(Registationno integer,Name text,sub1 integer,sub2 integer, Average Real);''')

In [ ]:
cnt.execute('''INSERT INTO Studenttable1 VALUES('Registationno',123,1234,12345,123456,1234567);''')
cnt.execute('''INSERT INTO Studenttable1(Name,))VALUES(90.5,15,' KANADAS ALSO');''')
cnt.execute('''INSERT INTO Studenttable1(ACCURACY,POINTS,NAME)VALUES('REVERSE str',100,5);''')
cnt.commit()